{% extends 'base.html.twig' %}

{% block title %}Votre profile{% endblock %}

{% block body %}
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Votre profile</h1>

    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-2xl font-semibold mb-4">Information</h2>
        <div class="flex items-center mb-4">
            {% if app.user.avatar %}
                {% if avatarExists == true %}

                <img src="{{ asset('uploads/profile/' ~ app.user.avatar) }}" alt="Profile Picture" class="w-16 h-16 rounded-full mr-4">

                {% else %}

                <img src="{{app.user.avatar}}" alt="photo de profile" class="w-16 h-16 rounded-full mr-4">
                    
                {% endif %}
            {% else %}
                <img src="{{ asset('images/profile_placeholder.png') }}" alt="Default Avatar" class="w-16 h-16 rounded-full mr-4">
            {% endif %}
            <div>
                <p class="mb-2"><strong>Pseudo:</strong> {{ app.user.username }}</p>
                <p class="mb-2"><strong>Email:</strong> {{ app.user.email }}</p>
                <a href="{{ path('edit_account') }}" class="text-blue-500 hover:underline">Modifier</a>
                <a href="{{ path('delete_account') }}" class="text-red-500 hover:text-red-600">Supprimer votre Compte</a>
            </div>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-4">Vos annonces</h2>
        <ul class="list-disc pl-5">
            {% for annonce in annonces %}
                <div class="mb-2">
                    <a href="{{ path('show_annonce', {id: annonce.id}) }}" class="text-blue-500 hover:underline">{{ annonce.title }}</a>
                    <a href="{{ path('edit_annonce', {id: annonce.id}) }}" class="text-yellow-500 hover:underline ml-2">Edit</a>
                    <a href="{{ path('delete_annonce', {id: annonce.id}) }}" class="text-red-500 hover:underline ml-2">Delete</a>
                    {# onclick="return confirm('Are you sure?')" #}
                    <div class="mt-2">
                        {% if annonce.images|length > 0 %}
                            {% for image in annonce.images %}
                                <img src="{{ asset('uploads/images/' ~ image.path) }}" alt="{{ annonce.title }}" class="w-32 h-32 object-cover">
                            {% endfor %}
                        {% else %}
                            <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder" class="w-32 h-32 object-cover">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}