{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Accueil</h1>

    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <ul class="list-disc pl-5">
            {% for annonce in annonces %}
                <div class="mb-2">
                    <a href="{{ path('show_annonce', {id: annonce.id}) }}" class="text-blue-500 hover:underline">{{ annonce.title }}</a>
                    <div class="mt-2">
                        {% if annonce.images|length > 0 %}
                            {% for image in annonce.images %}
                                <img src="{{ asset('uploads/images/' ~ image.path) }}" alt="{{ annonce.title }}" class="w-32 h-32 object-cover">
                            {% endfor %}
                        {% else %}
                            <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder" class="w-32 h-32 object-cover">
                        {% endif %}
                    </div>
                    {% if (app.user) and (app.user.favoriteannonces|length > 0) %}
                        {% for annoncefav in app.user.favoriteannonces %}
                            {% if annoncefav == annonce %}
                            <a href="{{ path('remove_favorite', {id: annonce.id}) }}" 
                            class="text-red-500 hover:text-red-700 transition-colors duration-200">
                            {# onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce favori ?')" #}
                            <i class="fa-solid fa-heart"></i></a>
                            {% else %}
                            <a href="{{ path('add_favorite', {id: annonce.id}) }}">
                            {# onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce favori ?')" #}
                            <i class="fa-regular fa-heart"></i></a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <a href="{{ path('add_favorite', {id: annonce.id}) }}">
                    {# onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce favori ?')" #}
                    <i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
